.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan

.DS_Store
Thumbs.db
